
/* IMPORT */
@import url(
    'https://fonts.googleapis.com/css2?family=Roboto&display=swap'
    );
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.info {

    width: 385px;
    display: flex;
    justify-content: space-between;

}

.info a{ 

    text-decoration: none;
    color: #8f8f8f;
    font-family: 'Roboto', sans-serif;
    font-size: 19.5px;


}

.info a:hover{

    color: black;
    font-size: bold;

}

.client {

    width: 848px;
    display: flex;
    height: 24px;
    margin-right: 134px;
    justify-content: space-between;

}

.client a {

    text-decoration: none;
    color: #8f8f8f;
    font-family: 'Roboto', sans-serif;
    font-size: 19.5px;

}

.client a:hover {
    
    color: black;
    font-size: bold;
    
}


header {

    background-color: #ffff

}

.header-1 {

    height: 48px;

}

.header-2 {

    height: 98px;
    width: 1000px;

}

.header-2 a {
    text-decoration: none;
}

.container-grid {

    margin: 0 auto;;
    width: 1840px;
  
}

.posicionamento-header {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo h1 {
    color: #FF0FCA;
    text-decoration: none;
    margin: 0;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}




.menu {

    width: 1393px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.menu a {

    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 22px;
    

}


.menu a:hover {

    color: #8f8f8f;

}

.search {
    background: white;
    border: 1px solid #8f8f8f;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-txt {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    color: black;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: width 0.4s ease-in-out;
}

::-webkit-input-placeholder {
    color: black;


}

.search-btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search:hover > .search-txt {
    width: 240px;
    padding: 0 6px;

}

/* Border */
.divider-1 {

    height: 2px;
    background-color: #D3D3D3;

}

.promocoes {

  display: flex;
  font-family: 'Roboto', sans-serif;
  background-color: #F7F7F7;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.promocoes div.swiper-wrapper p{
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promocoes strong {

    text-transform: uppercase;
}

.promocoes p {
    
    font-size: 26px;
    margin: 0;
    text-align: center;
}

.promocoes a {

    text-decoration: underline;
    color: black;
    font-size: 20px;

}

.promocoes a:hover {

    color: #8f8f8f;

}

.promocoes div.swiper-wrapper strong {
    margin-right: 10px
}

.promocoes div.swiper-wrapper a {
    margin-left: 10px
}

.swiper-button-prev {
    margin-left: 400px;
}

.swiper-button-prev::after {
    color: black;

}

.swiper-button-next{
    margin-right: 400px;
}

.swiper-button-next::after{
    color: black;
}

.banner {
    background-image: url(../assets/EaQvroQXYAE2dDC.jpg);
    height: 820px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}

.secao {
    height: 372px;
    width: 1920px;

}

.secao h1 {
    
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-weight: bold;

}

.secao p {

    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    margin-top: 45px;
    margin-bottom: 0px;

}

button.btn.btn-dark {
    margin: 0;
}

.buttons {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 88px;
}

.buttons button {

    width: 305px;
    height: 50px;
    border-radius: 50px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-top: 90px;
    margin-bottom: 64px;

} 

.buttons button:hover {

    background-color: #F7F7F7;
    color: #000000;

}

.products{

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 840px;

}

.product {

    
    width: 500px;
    height: 780px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.product:hover {
    box-shadow: 0 8px 16px 0 rgb(250, 1, 196);
  }

.product a {
    text-decoration: none;
    
    
}

.product img {

    width: 500px;
    height: 550px;
    object-fit: cover;
    

}

.product h5 {
    margin-top: 9px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black;
    text-transform: uppercase;
}

.product p {
    margin: 20px 0 0 20px;
    font-size: 25px;
    color: black;
}

p.marca {
    margin: 0 0 0 20px;
    color: black;
    font-size: 20px;
}

.product h4 {
    margin-top: 9px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black;
}

/* These styles are applied by default.
   They will also override the hover
   style for all stars to the right
   of the currently hovered star. */

   .rate {
       font-size: 30px;
       margin: 20px 0 0 20px;
   }
   .rate i, .rate i:hover ~ i {
    color: #222;
    text-shadow: none;
    transition: color 200ms,
                text-shadow 200ms;
    /* This will remove the delay when
       moving the cursor left or right
       within the set of stars. */
    transition-delay: 0;
  }
  
  /* This is the style that will be
     applied to all stars and then
     subsequently removed from the stars
     to the right of the one being
     hovered. */
  .rate:hover i {
    color: #fc0;
    text-shadow: #fc0 0 0 20px;
  }
  
  /* Make the effect apply one star at a
     time. Limiting the selector to when
     .rate is hovered removes the effect
     without delay when cursor leaves
     the .rate area. */
  .rate:hover i:nth-child(2) {
    transition-delay: 30ms;
  }
  
  .rate:hover i:nth-child(3) {
    transition-delay: 60ms;
  }
  
  .rate:hover i:nth-child(4) {
    transition-delay: 90ms;
  }
  
  .rate:hover i:nth-child(5) {
    transition-delay: 120ms;
  }
  
  /* Miscellaneous styles. */
  .rate i {
    cursor: pointer;
    font-style: normal;
  }

.testimonials {
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 415px;
        position: absolute;
        

}

section.testimonials div.container {

    height: 275px;
    width: 1015px;
    padding: 0;
    display: flex;
    background-color: #F7F7F7;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    position: relative;
    top: 15%
}

.avatar {

    width: 315px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.avatar img {
    width: 170px;
    height: 140px;

  
}

.testimonial {

    width: 640px;
    height: 112px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    position: relative;

    

}


.testimonial p {

    font-size: 20px;
    text-align: justify;
    display: flex;
    margin: 0;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: black;

}

.testimonials p span {
    font: 700  60px serif;
    top: -1rem;
    left: -2rem;
    color: #FF0FCA;
    position: absolute;
  }

.testimonials span.swiper-pagination-bullet {
    width: 0.75rem;
    height: 0.75rem;

}

.testimonials span.swiper-pagination-bullet-active {
    background-color: #FF0FCA;
}



.newsletter {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: linear-gradient(113.25deg, #E8E8E8 48.47%, rgba(159, 159, 159, 0.978945) 118.11%, rgba(156, 156, 156, 0.978174) 118.11%, rgba(7, 7, 7, 0) 118.12%);
    border: 1px solid #D3D3D3;
    text-align: center;

}

.newsletter img {
    
    width: 110px;
    height: 92px;
    margin-top: 30px;
}

.newsletter h2 {

    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 15px 0 0 0;
}

.newsletter form {
    
    text-align: center;
    
}

.newsletter input {

    margin-top: 30px;
    margin-bottom: 45px;
    width: 1015px;
    height: 60px;
    font-size: 28px;
    text-align: center;
}

.footer {
    background: black;
    height: 600px;
    display: flex;
    
}

.footer .container-grid {
    display: flex;
    position: relative;
}

.footer-principal {
    margin-top: 50px;
}

.footer-principal a {

    color:white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    text-decoration: none;
    text-transform: uppercase;
    
}

.footer-principal a span {
    color: #FF0FCA;

}

.footer-principal a:hover {
    color: blue;

}


.footer-ajuda {
    margin-top: 50px;
    margin-left: 160px;
}

.footer-ajuda a {
    
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-top: 25px;
    text-decoration: none;
        

}

.footer-ajuda a strong {
    color: white;
    text-transform: uppercase;
}

.footer-ajuda a strong:hover{
    color: blue;

}

.footer-about {
    margin-top: 50px;
    margin-left: 160px;
}

.footer-about a {
    
    color: white;
    font-size: 20px;
    margin-top: 25px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

}

.redes-sociais {
    
    margin-top: 50px;
    width: 670px;
    
    
        
}

.redes-sociais p {

    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    
    
}

.redes-sociais .icones {
    text-align: right;
    height: 50px;
}

.redes-sociais .icones img {
    width: 50px;
    height: 50px;
    margin-left: 2px;
    margin-top: 2px;

}







