/* IMPORT */
@import url(
    'https://fonts.googleapis.com/css2?family=Roboto&display=swap'
    );
@import url(
    'https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Sahitya&display=swap'
    );

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* 
================================================================================================================
HEADER
================================================================================================================
*/
.info {

    width: 24.18478%;
    display: flex;
    justify-content: space-between;

}

.info a{ 

    text-decoration: none;
    color: #8f8f8f;
    font-family: 'Roboto', sans-serif;
    font-size: 19.5px;


}

.info a:hover{

    color: black;
    font-size: bold;

}

.client {

    width: 49.45652174%;
    display: flex;
    justify-content: space-between;

}

.client a {

    text-decoration: none;
    color: #8f8f8f;
    font-family: 'Roboto', sans-serif;
    font-size: 19.5px;

}

.client a:hover {
    
    color: black;
    font-size: bold;
    
}


header {

    background-color: #ffff

}

.header-1 {

    height: 50px;

}

.header-2 {

    height: 100px;

}

.header-2 a {
    text-decoration: none;
}

.container-grid {

    margin: 0 auto;
    width: 95.8333333%;
  
}

.posicionamento-header1,
.posicionamento-header2 {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 18.47826%;
}

.logo h1 {
    color: #FF0FCA;
    text-decoration: none;
    margin: 0;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.menu {
    width: 74.72826087%;
}

.menu a {

    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 22px;
    transition: color 0.2s;
    position: relative;
}


.menu a:hover {

    color: #8f8f8f;

}

.menu a::after {
    content: "";
    height: 2px;
    width: 0%;
    background: #FF0FCA;
    position: absolute;
    left: 0;
    bottom: -2.4rem;
    transition: width 0.2s;
}

.menu a:hover::after {
    width: 100%;
}

.itens-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category {
    width:66.18181818%;
    justify-content: space-between;
    display: flex;
}

.menu form {
    
    text-align: center;
    width: 15.2%;
}

.menu input {

    width: 90%;
    font-size: 16px;
    text-align: center;
}

.barras {
    width: 30px;
    display: none;
}

.close {
    display: none;
    width: 20px;
}
 


/*
===================================================================================================
Border
===================================================================================================
*/
.divider-1 {

    height: 2px;
    background-color: #D3D3D3;

}

/*
=====================================================================================================
Promocoes
=====================================================================================================
*/

.promocoes {

  display: flex;
  font-family: 'Roboto', sans-serif;
  background-color: #F7F7F7;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.promocoes strong {
    text-transform: uppercase;
}

.carousel-control-prev-icon {
    background-color: #000000;
    border-radius: 50%;
}

.carousel-control-next-icon {
    background-color: #000000;
    border-radius: 50%;
}

.promocoes p {
    
    font-size: 26px;
    margin: 0;
    text-align: center;
}

.promocoes .carousel {
    position: relative;
    width: 1200px;
}

.carossel a.phone {
    display: none;
}

.promocoes a {

    text-decoration: underline;
    color: black;
    font-size: 20px;

}

.promocoes a:hover {

    color: #8f8f8f;

}


/*
==================================================================================================================
BANNER
==================================================================================================================
*/
#banner a {
    text-decoration: none;
}

.banner {
    background-image: url(../assets/FIFA\ 22.png);
    height: 860px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    
    
}

.itens-banner {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}

.texto-banner {
    width: 40%;
    text-align: center;
}

.texto-banner h2{
    font-size: 150px;
    text-shadow:  10px  0 10px white;
    color: black;
    font-family: 'Poppins', sans-serif;;
    font-weight: 800;
}

.texto-banner .buttons button {

    width: 305px;
    height: 50px;
    border-radius: 50px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-top: 90px;
    margin-bottom: 64px;

} 

.texto-banner .buttons button:hover {

    background-color: #F7F7F7;
    color: #000000;

}

/*
==================================================================================================================
SECAO
==================================================================================================================
*/
.secao {
    height: 400px;
    
}

.secao h2 {
    
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    padding-top: 1.902173913%;
    margin-bottom: 0px;
    font-weight: bold;

}

.secao p {

    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    margin-top: 3.913043478%;
    margin-bottom: 0px;

}

.secao button.btn.btn-dark {
    margin: 0;
}

.secao .buttons {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:  3.913043478%;
}

.secao .buttons button {

    width: 20%;
    height: 3%;
    border-radius: 50px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-top: 90px;
    margin-bottom: 64px;

} 

.secao .buttons button:hover {

    background-color: #F7F7F7;
    color: #000000;

}

.products{
    height: 1052px;

}

.products h2 {
    
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    padding-top: 1.902173913%;
    margin-bottom: 0px;
    font-weight: bold;

}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4.6875rem;
}

.product {

    
    width: 29.72826087%;
    height: 45.10869565%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.product:hover {
    box-shadow: 0 8px 16px 0 rgb(250, 1, 196);
  }

.product a {
    text-decoration: none;
    
    
}

.product img {

    width: 100%;
    height: 37.5rem;
    object-fit: cover;
    

}

.product h5 {
    margin-top: 9px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black;
    text-transform: uppercase;
}

.product p {
    margin: 20px 0 0 20px;
    font-size: 25px;
    color: black;
}

p.marca {
    margin: 0 0 0 20px;
    color: black;
    font-size: 20px;
}

.product h4 {
    margin-top: 9px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black;
}

/* These styles are applied by default.
   They will also override the hover
   style for all stars to the right
   of the currently hovered star. */

   .rate {
       font-size: 30px;
       margin: 20px 0 0 20px;
   }
   .rate i, .rate i:hover ~ i {
    color: #222;
    text-shadow: none;
    transition: color 200ms,
                text-shadow 200ms;
    /* This will remove the delay when
       moving the cursor left or right
       within the set of stars. */
    transition-delay: 0;
  }
  
  /* This is the style that will be
     applied to all stars and then
     subsequently removed from the stars
     to the right of the one being
     hovered. */
  .rate:hover i {
    color: #fc0;
    text-shadow: #fc0 0 0 20px;
  }
  
  /* Make the effect apply one star at a
     time. Limiting the selector to when
     .rate is hovered removes the effect
     without delay when cursor leaves
     the .rate area. */
  .rate:hover i:nth-child(2) {
    transition-delay: 30ms;
  }
  
  .rate:hover i:nth-child(3) {
    transition-delay: 60ms;
  }
  
  .rate:hover i:nth-child(4) {
    transition-delay: 90ms;
  }
  
  .rate:hover i:nth-child(5) {
    transition-delay: 120ms;
  }
  
  /* Miscellaneous styles. */
  .rate i {
    cursor: pointer;
    font-style: normal;
  }

.testimonials {
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 415px;
        position: absolute;
        

}

section.testimonials div.container {

    height: 275px;
    width: 1015px;
    padding: 0;
    display: flex;
    background-color: #F7F7F7;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    position: relative;
    top: 15%
}

.avatar {

    width: 315px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.avatar img {
    width: 170px;
    height: 140px;

  
}

.testimonial {

    width: 640px;
    height: 112px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    position: relative;

    

}


.testimonial p {

    font-size: 20px;
    text-align: justify;
    display: flex;
    margin: 0;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: black;

}

.testimonials p span {
    font: 700  60px serif;
    top: -1rem;
    left: -2rem;
    color: #FF0FCA;
    position: absolute;
  }

.testimonials span.swiper-pagination-bullet {
    width: 0.75rem;
    height: 0.75rem;

}

.testimonials span.swiper-pagination-bullet-active {
    background-color: #FF0FCA;
}



.newsletter {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: linear-gradient(113.25deg, #E8E8E8 48.47%, rgba(159, 159, 159, 0.978945) 118.11%, rgba(156, 156, 156, 0.978174) 118.11%, rgba(7, 7, 7, 0) 118.12%);
    border: 1px solid #D3D3D3;
    text-align: center;

}

.newsletter img {
    
    width: 110px;
    height: 92px;
    margin-top: 30px;
}

.newsletter h2 {

    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 15px 0 0 0;
}

.newsletter form {
    
    text-align: center;
    
}

.newsletter input {

    margin-top: 30px;
    margin-bottom: 45px;
    width: 80%;
    height: 60px;
    font-size: 28px;
    text-align: center;
}

.footer {
    background: black;
    height: 600px;
    display: flex;
    
}

.footer .container-grid {
    display: flex;
    position: relative;
}

.footer-principal {
    margin-top: 2.717391304%;
}

.footer-principal a {

    color:white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    
}

.footer-principal a span {
    color: #FF0FCA;

}

.footer-principal a:hover {
    color: blue;

}


.footer-ajuda {
    margin-top: 2.717391304%;
    margin-left: 9.130434784%;
}

.footer-ajuda a {
    
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    text-decoration: none;
        

}

.footer-ajuda a strong {
    color: white;
    text-transform: uppercase;
}

.footer-ajuda a strong:hover{
    color: blue;

}

.footer-about {
    margin-top: 2.717391304%;
    margin-left: 9.130434784%;
}

.footer-about a {
    
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

}

.redes-sociais {
    
    margin-top: 2.717391304%;
    width: 36.41304348%
    
    
        
}

.redes-sociais p {

    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    
    
}

.redes-sociais .icones {
    text-align: right;
    height: 50px;
}

.redes-sociais .icones img {
    width: 50px;
    height: 50px;
    margin-left: 2px;
    margin-top: 2px;

}


/*
==================================================================================================================
MEDIA QUERY HEADER
==================================================================================================================
*/

/*
==================================================================================================================
MEDIA QUERY HEADER 1520 - 1200 px
==================================================================================================================
*/
@media screen and (max-width: 1520px) {

    /* .container-grid {
        width: 90%;
    } */


    .client a {
        font-size: 14px;
    }

    .info a {
        font-size: 14px;
    }
    

    .menu form {
        width: 15%;
    }

    .menu input {
        font-size: 14px;
    }

    .menu a {
        font-size: 18px;
    }

    .category {
        width: 80%;
    }

    .logo { 
        width: 25%;
    }

    .logo h1 {
        font-size: 30px;
    }

    .promocoes p {
    
        font-size: 22px;
        width: 50%;
    }
    
    .promocoes .carousel {
        position: relative;
        width: 90%;
    }
    
    .promocoes a {
    
        font-size: 18px;
    
    }

    .banner {
        background-image: url('../assets/FIFA\ 23\ -\ 1500px\ \(1\).png');
    }

    .itens-banner {
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
    }

    .texto-banner {
        width: 80%;
        text-align: center;
    }

    .texto-banner h2 {
        font-size: 200px;
        text-shadow:  10px  0 10px #FF0FCA;
        color: white;
    }

    .texto-banner .buttons button {

        width: 305px;
        height: 50px;
        border-radius: 50px;
        border: 1px solid #FF0FCA;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        margin-top: 90px;
        margin-bottom: 64px;
        background-color: white;
        color: black;
    
    } 
    
    .texto-banner .buttons button:hover {
    
        background-color: #FF0FCA;
        color: white;
    
    }

    .alinhamento {
        display: flex;
    }

    .cards {
        display: inline-block;
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    .products {
        height: 2050px;
    }

    .product {
        margin-bottom: 2rem;
        height: 36.5rem;
        width: 100%;
    }

    .product img {
        height: 28rem;
    }

    .product h5 {
        margin-top: 0.2rem;
        font-size: 25px;
    }

    .product h4 {
        font-size: 25px;
        margin-top: 0.2rem;
    }

    .product p {
        font-size: 20px;
        margin-top: 0.2rem;
    }

    .rate {
        display:none;
    }


}

/*
==================================================================================================================
MEDIA QUERY HEADER 1100 - 786 px
==================================================================================================================
*/
 @media screen and (max-width: 1100px) {
     /* .container-grid {
         width: 90%;
     } */

     .client {
         width: 55%;
     }

    .client a {
        font-size: 14px;
    }

    .info {
        width: 30%;
    }

    .info a {
        font-size: 14px;
    }

    .menu { 
        width: 70%;
    }
    

    .menu form {
        width: 12%;
    }

    .menu input {
        font-size: 14px;
    }

    .menu a {
        font-size: 14px;
    }

    .category {
        width: 85%;
    }

    .logo { 
        width: 28%;
    }

    .logo h1 {
        font-size: 28px;
    }

    .promocoes p {
    
        font-size: 18px;
        width: 50%;
    }
    
    
    .promocoes a {
    
        font-size: 14px;
    
    }

    .banner {
        background-image: url('../assets/FIFA\ 23\ -\ 1500px\ \(1\).png');
    }

    .itens-banner {
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
    }

    .texto-banner {
        width: 80%;
        text-align: center;
    }

    .texto-banner h2 {
        font-size: 150px;
        text-shadow:  10px  0 10px #FF0FCA;
        color: white;
    }

    .texto-banner .buttons button {

        width: 305px;
        height: 50px;
        border-radius: 50px;
        border: 1px solid #FF0FCA;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        margin-top: 90px;
        margin-bottom: 64px;
        background-color: white;
        color: black;
    
    } 
    
    .texto-banner .buttons button:hover {
    
        background-color: #FF0FCA;
        color: white;
    
    }
    

    .secao h2 {
        font-size: 40px;
    }

    .secao p {
        font-size: 28px;
    }

    .secao .buttons { 
        flex-direction: column;
        display: flex;

    }

    .secao button.btn.btn-dark {
        margin: 2px;
    }

    .secao .buttons button {
        width: 60%;
    }

    .footer-principal a {

        font-size: 16px;
       
        
    }

    .footer-ajuda a {
    
        
        font-size: 16px;
        
            
    
    }

    .footer-about a {
    
        font-size: 16px;
        
    }

    .redes-sociais {
        display: inline-block;
    }

    .redes-sociais p {

        font-size: 16px;  
    }

    .redes-sociais .icones img {
        width: 30px;
        height: 30px;
        margin-left: 2px;
        margin-top: 2px;
    
    }

    .products {
        height: 1900px;
    }

    .product {
        margin-bottom: 2rem;
        height: 34rem;
    }

    .product img {
        height: 25rem;
    }

    .newsletter h2 {
        font-size: 26px;
    }

    .newsletter input {
        margin-top: 1.8rem;
        margin-bottom: 2rem;
        font-size: 20px;
    }

    .testimonials {
        width: 100%;
        height: 550px;
    }

    section.testimonials div.container {
        width: 80%;
        height: 300px;
        display: grid;
    }
    .testimonial {
        width: 80%;
        height: 30%;
    }

    .testimonial p {
        font-size: 16px;
    }

    .avatar {
        margin: auto;
        height: 10%;

    }

    .testimonials p span {
        font: 700 40px serif;
    }

    .testimonials p span {
        font: 700 50px serif;
        top: -2.5rem;
        left: -1.5rem;
    }
}


@media screen and (max-width: 768px) {

    .header-1 {
        height: 50px;
    }

    .info {
        display: inline-block;
        width: 20%;
    }
    .info a {
        font-size: 8px;
    }

    .client {
        width: 70%;
    }

    .client a {
        font-size: 8px;
    }

    .category {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .category {
        opacity: 0;
        visibility: hidden;
    }

    nav.show .category {
        opacity: 1;
        visibility: visible;
        background-color: white;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9990;
        justify-content: unset;
        gap: 4rem;
    }

    .category {
        display: grid;
        place-content: center;
        text-align: center;
        justify-content: center;
    }


    .category a {
        font-weight: 1200;
        font-size: 20px;

    }


    .barras {
        display: inline-block;
        position: absolute;
        top: 32%;
        left: 0;
        cursor: pointer;
    }

    .posicionamento-header2 {
        position: relative;
        flex-direction: column;
    }
    
    .menu form {
        position: absolute;
        bottom: 5px;
        width: 90%;
        left: 5%;
    }

    .logo {
        position: absolute;
        top: 32%;
        width: 80%;
        text-align: center;
    }

    .menu a::after {
        bottom: -1rem;
        width: 0%;
        
    }

    .close {
        display: inline-block;
        position: absolute;
        right: 1.5rem;
        top: 0;
        cursor: pointer
    }

    
    .promocoes p {
    
        font-size: 12px;
        width: 100%;
    }
    
    
    
    .promocoes a {
    
        font-size: 10px;
    
    }

    .carousel-control-prev-icon {
        background-color: rgba(0,0,0,0.5);
        border-radius: 50%;
    }

    .carousel-control-next-icon {
        background-color: rgba(0,0,0,0.5);
        border-radius: 50%;
    }
    

    .banner {
        background-image: url('../assets/Fifa_celular.png');
    }
    
    .texto-banner h2 {
        font-size: 70px;
        text-shadow:  10px  0 10px #FF0FCA;
        color: white;
    }

    .texto-banner .buttons button {

        width: 200px;
        height: 50px;
        border-radius: 50px;
        border: 1px solid #FF0FCA;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        margin-top: 90px;
        margin-bottom: 64px;
        background-color: white;
        color: black;
    
    } 
    
    .texto-banner .buttons button:hover {
    
        background-color: #FF0FCA;
        color: white;
    
    }

    .secao {
        height: 360px;
    }

    .secao h2 {
        font-size: 28px;
    }

    .secao p {
        font-size: 22px;
    }

    .secao .buttons button {
        font-size: 22px;
    }

    .products h2 {
    font-size: 28px;
    }

    .newsletter h2 {
        font-size: 22px;
    }

    .newsletter input {
        font-size: 12px;
        width: 90%;
    }

    section.testimonials div.container {
        width: 90%;
        height: 350px;
    }

    .avatar img {
        width: 45%;
    }

    .testimonial {
        width: 70%;
        height: 30%;
    }

    .testimonials p span {
        font: 700 40px serif;
        top: -3.5rem;
        left: -1.2rem;
    }

    .testimonial p {
        font-size: 14px;
    }
}

@media screen and (max-width: 599px) {

    .redes-sociais .icones {
        display: grid;
    }
}

@media screen and (max-width: 470px) {

    .footer .container-grid {
        display: grid;
    }

    .footer {
        height: 880px;
    }

    .redes-sociais .icones {
  
        display: flex;
    }
}